

<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
  
  <img src="<%= asset_path "achieve.png" %>">
</section>
<section class="about">
  <h1>About Achieve</h1>
  <p>
     Achieveは、受講生のために作成された、教材用アプリです。<br>
     Achieveを作り終えることで、SecondTeamに参加するための力を身につけることができます。
  </p>
  <p>
     Acheiveを一言で表すと、タスク管理アプリです。<br>
     チームメンバーが、今どのようなタスクを行っているかリアルタイムで把握することができます。
  </p>
</section>

<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJB5Mua5OLGGAReZW8BgLBodQ&key=AIzaSyBoaG8S9rgg8sGQTYsxEC6UEjHC106mzUw" allowfullscreen></iframe>

<!-- Standard button -->
<button type="button" class="btn btn-default">Default</button>

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn-primary">Primary</button>

<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn-success">Success</button>

<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn-info">Info</button>

<!-- Indicates caution should be taken with this action -->
<button type="button" class="btn btn-warning">Warning</button>

<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn-danger">Danger</button>

<!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
<button type="button" class="btn btn-link">Link</button>

<div class="row">
  <div class="col-sm-9">
    Level 1: .col-sm-9
    <div class="row">
      <div class="col-xs-8 col-sm-6">
        Level 2: .col-xs-8 .col-sm-6
      </div>
      <div class="col-xs-4 col-sm-6">
        Level 2: .col-xs-4 .col-sm-6
      </div>
    </div>
  </div>
</div>


  <section class="function container-fluid">
    <div class="row">
    <h2>Function</h2>
      <div class="function-images">
        <div class="col-md-3 col-sm-6">
          <div class="function-image">
            <img src="<%= asset_path "key.png" %>">
            <p>ログイン機能</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="function-image">
            <img src="<%= asset_path "mails.png" %>">
            <p>メール送信機能</p>
          </div>
        </div>
        
          <div class="function-image">
            <img src="<%= asset_path "girls.png" %>">
            <p>友達つながり機能</p>
          </div>
        
        <div class="col-md-3 col-sm-12">
          <div class="function-image">
            <img src="<%= asset_path "comment.png" %>">
            <p>コメント投稿機能</p>
          </div>
        </div>
      </div>
    </div>
  </section>
