<h1 style="color: darkblue">■トップページ</h1>
<p><%= notice %><%= alert %></p>
<ul>
    <% if user_signed_in? %>
        <li><%= link_to "ブログ一覧", blogs_path %></li>
    <% else %>
        <li><%= link_to "ブログ一覧", new_user_session_path %></li>
    <% end %>
    <br>
    <li><%= link_to "お問い合わせ", new_contact_path %></li>
</ul>